<ion-header>
  <ion-toolbar>
    <ion-title>This Page is not developed yet. </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="text-align: center;">
      <ion-label class="label-cinza">Our developers are working hard on it.</ion-label>
      <ion-img style="margin-top: 2rem;" src="https://i.giphy.com/media/ZVik7pBtu9dNS/giphy.webphttps://i.giphy.com/media/ZVik7pBtu9dNS/giphy.webp" class="img-large"></ion-img>
    </div>
  </section>
</ion-content>
